## Modelagem para Prevenção a Fraudes
<ul>
<li><b>Autor.:</b> Gabriel Nunes Henke</li>
<li><b>Programa:</b> PPGCC - Pós-Graduação em Ciência da Computação</li> 
<li><b>Disciplina:</b> Banco de Dados</li>
<li><b>Programa:</b> Ronaldo Correa</li>
<li><b>Data:</b> 08/06/2022</li>
</ul>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### 1.0 Leitura do dataset

In [9]:
df = pd.read_csv("../data/PS_20174392719_1491204439457_log.csv")

In [10]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1,0
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1,0
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0,0

### 2.0 Análise e Exploração dos Dados

### 3.0 Tratamento dos Dados

In [11]:
### 4.0 Feature Engineering

In [ ]:
### 5.0 Seleçao de Atributos

In [12]:
### 6.0 Treinamento do modelo preditivo

In [13]:
### 7.0 Validação e avaliação do modelo

In [ ]:
### 8.0 Exportação do modelo